/* ======== reset css ======== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--gray-bg-headings-btns);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* ======== custom properties ======== */
:root {
  /* ### Primary */

  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);

  /* ### Neutral */

  --gray-magenta: hsl(303, 10%, 53%);
  --lg-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
