/* ======== reset css ======== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* ======== custom properties ======== */
:root {
  /* ### Primary */

  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);

  /* ### Neutral */

  --gray-magenta: hsl(303, 10%, 53%);
  --lg-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
/* ======== sections ======== */
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
/* ======== OUR section ======== */
.section__our {
  margin: 1rem 0;
}
.section__our h2 {
  color: var(--magenta);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 1.5rem 0;
}
.section__our p {
  color: var(--gray-magenta);
  font-weight: 500;
}
/* ======== RATED section ======== */
.section__rated {
  /* margin: 1rem 0; */
}
.section__rated--card {
  background-color: var(--lg-gray-magenta);
  border-radius: 8px;
  margin: 1rem 0;
  height: 4rem;
  color: var(--magenta);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.section__rated--starsbg {
  background-image: url("/icon-star.svg");
  margin: 0.5rem auto;
  background-repeat: space;
  background-size: contain;
  height: 1rem;
  width: 6rem;
}
/* ======== PROOF section ======== */
.section__proof {
  margin: 1rem 0;
  text-align: left;
}
.item-general {
  margin: 1rem 0;
}
.section__proof--card {
  background-color: var(--magenta);
  color: var(--white);
  border-radius: 8px;
}
.card-item {
  padding: 1rem 2rem;
}
.section__proof--card-user {
  display: flex;
}
.section__proof--card-user img {
  border-radius: 50%;
  height: 3rem;
}
.section__proof--card-user div {
  margin-left: 1rem;
}
.section__proof--card-user div p {
  color: var(--pink);
}
/* ======== media query ======== */
@media (min-width: 750px) {
  main {
    padding: 3rem;
  }
  /* layout */
  .layout-desktop {
    display: flex;
    align-items: center;
    justify-items: flex-end;
  }
  /* part1 */
  /* our section */
  .section__our {
    width: 50%;
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .section__our h2 {
    max-width: 22rem;
    font-size: 3rem;
  }
  .section__our p {
    max-width: 26rem;
    font-size: 1.1rem;
  }
  /* rated section */
  .section__rated {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .section__rated p {
    margin: 0.5rem auto;
  }
  .section__rated--card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    min-width: 24rem;
    height: 3rem;
    margin: 0.5rem 0;
  }
  .itemCard2 {
    margin-left: 3rem;
  }
  .itemCard3 {
    margin-left: 6rem;
  }
  /* part2 */
  .section__proof {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }
  .item-general {
    margin: 0 0.5rem;
  }
  .card-item {
    padding: 1rem 1rem;
  }
  .item-2 {
    margin-top: 2rem;
  }
  .item-3 {
    margin-top: 4rem;
  }
}
/* media query +1000 */
@media (min-width: 1000px) {
  main {
    padding: 5rem 10rem;
  }
  .section__rated--card {
    min-width: 32rem;
  }
  .item-general {
    margin: 0 1rem;
  }
  .card-item {
    padding: 1rem 1rem;
  }
  .item-2 {
    margin-top: 2rem;
  }
  .item-3 {
    margin-top: 4rem;
  }
}
